.ProfileCover {
    width: 100%;
    background-color: #919090;
    height: 250px;
    background-image: url(../../assets/images/cover.jpg);
    background-size: 100% 250px;
    background-position: center;
    background-repeat: no-repeat;
}

.ProfilePic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    float: left;
    margin-top: 140px;
    margin-left: 150px;
    border: 3px solid white;
}

.ProfileContent {
    margin-top: 30px;
    display: flex;
}

.ProfileBio {
    flex: 35%;
    color: #919090;
    font-size: 14px;
    padding: 0 40px;
}

.ProfileServices {
    display: flex;
    justify-content: left;
    flex-flow: row wrap;   /* move items to the next row when the items more that 5, it makes the UI resonsive */
    /* margin-left: 100px; */
    /* flex: 70%; */
}


.ProfileNavItems {
    margin-top: 20px;
    margin-left: 30%;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

@media (min-width: 500px) {
    .ProfileNavItems {
        flex-flow: row;
    }
}


.ProfileDescription {
    font-size: 15px;
    padding:20px;
}


.AddService {
    border: 1px solid #919090;
    width: 50%;
    padding: 30px;
}
