.ProfileCover {
    width: 100%;
    background-color: #919090;
    height: 250px;
    background-image: url(../../assets/images/cover.jpg);
    background-size: 100% 250px;
    background-position: center;
    background-repeat: no-repeat;
}

.ProfilePic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    float: left;
    margin-top: 140px;
    margin-left: 150px;
    border: 3px solid white;
}

.Profile {
    margin-top: 30px;
    display: flex;
}

.ProfileBio {
    flex: 20%;
    color: #919090;
    font-size: 14px;
    padding: 0 40px;
    display: flex;
}

.ProfileContent {
    flex: 80%;
}
/* 
.ProfileArtworkList{
    display: flex;
    justify-content: left;
    flex-flow: row wrap;   
} */


.ProfileNavItems {
    margin-top: 20px;
    margin-left: 30%;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

@media (min-width: 500px) {
    .ProfileNavItems {
        flex-flow: row;
    }
}


.ProfileDescription {
    font-size: 15px;
    padding:20px;
}

/* .AddArtwork {
    border: 1px solid #c7c3c3;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    margin: 20px;
    padding-top: 250px;
    font-size: 50px;
    color: #c7c3c3; */
    /* height: 470px;  */
/* }


.AddArtwork:hover {
    color: #919090;
    border: 1px solid #919090;
} */