.NavigationItem {
    box-sizing: border-box;
    display: block;
    width: 100%;
    outline: none;
    color: gray;
    margin: 20px 10px;
}

.NavigationItem a {
    text-decoration: none;
    color: gray;
}

.NavigationItem a:hover,
.NavigationItem a:active {
    color: #4955a9;
    font-size: 19px;
}

@media (min-width: 500px) {
    .NavigationItem {
        display: flex;
        height: 50px;
        width: 120px;
        align-items: center;
        color: #919090;
    }
    
    .NavigationItem a {
        color: #919090;
        font-size: 17px;
    }
}

.WhiteNavigation a.active {
    background-color: white;
    color: #919090;
}

.WhiteNavigation a:hover,
.WhiteNavigation a:focus {
    color: #919090;
}