.Button {
    cursor: pointer;
	background: white;
	border-radius: 10px;
	padding: 10px 30px;
	display: inline-block;
	text-align: center;
	outline: none;
	margin: 10px;
	font-size: 20px;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
	border: 1px solid #ccc;
}

.Success {
    color: #FFBB99;
	border: 1px solid #FFBB99;
}

.Default {
	/* color: #919090; */
	/* border: 1px solid #919090; */
	background-color: #5946c7;
	border: 1px solid whitesmoke;
	color: whitesmoke;
} 