.Button {
    cursor: pointer;
	background: white;
	border-radius:15px;
	display: inline-block;
	text-align: center;
	outline: none;
	margin: 10px;
}

.Small{
	padding: 10px 20px;
	font-size: 17px;
}

.Large {
	padding: 10px 30px;
	margin: 20px 10px;
	font-size: 18px;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
	border: 1px solid #ccc;
}

.Success {
    color: #FFBB99;
	border: 1px solid #FFBB99;
}

.Primary {
	background-color: #4955a9;
	border: 1px solid whitesmoke;
	color: whitesmoke;
} 


.Default {
	background-color: white;
	border: 1px solid white;
	box-shadow: 2px 2px 5px;
	color: #919090;
	font-weight: 300;
	font-size: 15px;
} 
