.Artwork{
    width: 300px;
    border: 1px solid #eee;
    padding: 20px;
    box-shadow: 0 2px 3px #ccc;
    /* box-sizing: border-box; ???? */
    cursor: pointer;
    text-align: center;
    margin: 20px;
}

.Artwork button {
	background:#ffffff;
	border: 1px solid #919090;
	border-radius: 1000px;
	padding: 8px 25px;
	color:#919090;
	display: inline-block;
	text-align: center;
	outline: none;
}

.Artwork button:hover {
	background-color:#FFBB99;
	color: white;
	border: 1px solid white;

}
.Artwork button:active {
	position:relative;
	top:1px;
}
.Artwork button:disabled {
    background-color: gray;
    color: #ccc;
}
       