.Artwork{
    width: 300px;
    /* border: 1px solid #eee; */
    padding: 10px;
    /* box-shadow: 0 2px 3px #ccc; */
    /* box-sizing: border-box;  what does this do? */
    cursor: pointer;
    text-align: center;
    margin: 20px;
}
.Artwork img {
	width: 300px;
	height: 200px;
	border-radius: 10px;
}

.Artwork p {
	display: block;
}

.ColoredTitle p{
	color: #fcac83;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	width: 100%;
	text-align: left;
}

.Title {
	color: #757373;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: left;
	width: 100%;
}

.Description{
	color: #919090;
	text-align: left;
	font-size: 14px;
	width: 100%;
	text-align: justify;

}

.ColoredText {
	color: #fcac83;
	font-size: 12px;
	font-style: italic;
}

.Icons {
	text-align: left;
	color: #919090;
}

.starRating:not(old){
	display        : inline-block;
	width          : 7.5em;
	height         : 1.5em;
	overflow       : hidden;
	vertical-align : bottom;
  }

  .starRating:not(old) > input{
	margin-right : -100%;
	opacity      : 0;
  }

  .starRating:not(old) > label{
	display         : block;
	float           : right;
	position        : relative;
	background      : url('../../../../assets/images/star-off.svg');
	background-size : contain;
  }

  .starRating:not(old) > label:before{
	content         : '';
	display         : block;
	width           : 1.5em;
	height          : 1.5em;
	background      : url('../../../../assets/images/star-on.svg');
	background-size : contain;
	opacity         : 0;
	transition      : opacity 0.2s linear;
  }

  .starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}