.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

}
.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
}

.InputElement:focus {
    outline: none;
}

.Invalid {
    border-bottom: 1px solid #f24430;
}


.ValidationError {
    color: #f24430;
    margin: 5px 0;
} 
