.Landing {
  width: 100%;
  /* width: 97%; */
  height: 800px;
  /* background-color: whitesmoke; */
  background-color: #f0f0f0;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  /* border: 2px solid whitesmoke; */

}

.LandingTitleContent {
  /* background-color: #e6e6f7; */
  background-color: white;
  height: 500px;
  display: flex;
}


.LandingTitleContent p{ 
  padding-top: 20px;
  padding-left: 10px;
  font-size: 17px;
}

.Image {
  flex: 60%;
}

.Image img {
  width: 100%;
  height: 100%;
}

.Title {
  text-align: left;
  padding: 100px 100px;
  color: 30px;
  color: black;
  flex: 40%;
}

.Title span {
  font-size: 40px;
  font-weight: 00;
}

.PurpleText {
  color: #4955a9;
}

.DetailsContent {
  margin: 50px;
  height: 300px;
  display: flex;
  /* background-color: #f0f0f0; */
}

.DetailsImage {
  flex: 40%;
}

.DetailsImage img{
  border-radius: 50px;
  width:70%;
  height: 100%;
}

.DetailsDescription {
  margin-top: 20px;
  flex: 60%;
}

.DetailsDescription h3 {
  text-align: left;
  font-size: 20px;
  color: #4955a9;
}

.GoalTiles{
  margin:auto;
  background-color: white;
  width: 300px;
  padding: 30px;
  border-radius: 20px;
  font-size: 16px;
  color: gray;
  line-height: 1.6em;
  text-align: left;
  height: 220px;
}

.WideImage {
  background-color: white;
  height: 500px;
  display: flex;

}

.WideImage img{
  width: 50%;
  height: 100%;
  margin: auto;
}
