.Auth {
    margin: 0 20px;
    width: 80%;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.Auth h1 {
    font-size: 24px;
    color: #36384e;
    font-weight: 500;
}

.Auth span {
    border: 'none';
    outline: 'none';
    padding-top: 20px;
    font-size: 13px;
    cursor: pointer;
}

.ErrorMessage {
    color: #ffa8b9;
}

.ForgetPass {
    color: #36384e;
    font-weight: 400;
    text-align: left;
    margin: 10px 10px;
    width: 100%;
}

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}
