.NavigationItems {
    margin-top: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
    /* background-color: #FFBB99; */
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}